<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <sessionState cookieless="UseUri" mode="InProc" stateNetworkTimeout="240" />
      <httpRuntime maxRequestLength="2097151" executionTimeout="999999" />
    </system.web>
    

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://toshiba:8003/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="VideoProcessingService.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
    <appSettings>
      <!--Media control icons location-->
      <add key="UseExternalResources" value="true" />
      <add key="PlayControlIconLocation" value="https://i.ibb.co/JcTkJX4/PlayW.png" />
      <add key="PauseControlIconLocation" value="https://i.ibb.co/CQpJjJC/noun-pause-icon-409033.png" />
      <add key="ReverseControlIconLocation" value="https://i.ibb.co/b2R14T5/Backward-W.png" />
      <add key="FastForwardControlIconLocation" value="https://i.ibb.co/zJFF5pZ/ForwardW.png" />

      <add key="LoadingIconLocation" value="https://i.ibb.co/CsGz2RX/8fc32146cbf72ae17430e05ecc8b61be.gif" />
      
      <!--Error images location-->
      <add key="PokerFaceImageLocation" value="https://i.ibb.co/8mG2s8H/poker-face.png" />
      <add key="NotInterestedImageLocation" value="https://i.ibb.co/JzNtWQC/anime-uninterested.png"/>
      <add key="TeheperoImageLocation" value="https://i.ibb.co/18KBLQP/trtS8mw.png" />
      <add key="ConfuseImageLocation" value="https://i.ibb.co/ZcjbcmY/anime-confuse.png" />
      <add key="SadImageLocation" value="https://i.ibb.co/XSxdkGr/GIF-Image-600-400-pixels.gif" />

      <!--Page icons-->
      <add key="IndexPageUsedIcons" value="https://i.ibb.co/0sMXkst/Media-Player-Small.png" />
      <add key="PlayerPageUsedIcons" value="https://i.ibb.co/qNVGVQB/Media-Player2-Small.png" />
      <add key="HelpPageUsedIcons" value="https://i.ibb.co/qNVGVQB/Media-Player2-Small.png" />
      <add key="SettingsPageUsedIcons" value="https://i.ibb.co/qNVGVQB/Media-Player2-Small.png" />
      <add key="MediaPlayerLogoLocationW" value="https://i.ibb.co/qNVGVQB/Media-Player2-Small.png" />
      <add key="MediaPlayerLogoLocationB" value="https://i.ibb.co/0sMXkst/Media-Player-Small.png" />
      
      <!--CSS locations-->
      <add key="CustomCSSLocation" value="Sources/CSS/Custom.css" />
      <add key="W3CSSLocation" value="https://www.w3schools.com/w3css/4/w3.css" />
      
      <add key="videoSaveLocation" value="E:\test\Temporary\Video" />
      <add key="videoSequenceLocation" value="http://toshiba/test/Video/" />
      <add key="useDatabase" value="true" />
      <add key="SampleOverrideHostAddress" value="false" />
      <add key="oldHostAddress" value="http://toshiba/" />
      <add key="newHostAddress" value="http://toshiba/"/>
      <add key="hostAddress" value="http://toshiba/MediaPlayer/"/>
      
      <!--Sample video urls-->
      <add key="URLSampleMode" value="string" /> <!--string or base64string-->
      <add key="SampleVideo1" value="aHR0cDovL3Rvc2hpYmEvTWVkaWFQbGF5ZXIvKFMoMG5lcHoxM293c211cWltNXp5MDVwYzNqKSkvUGxheWVyLmFzcHg/bmV3PXRydWUmcGF0aD1odHRwOi8vdG9zaGliYS90ZXN0L1ZpZGVvLzBuZXB6MTNvd3NtdXFpbTV6eTA1cGMzai9WakpvYkdOdFZqSmFXRWxuWlZjNU1VbEhSbmxhVTBGMFNVVTVUMUpUUWxCVGVVSlRWREJPVEVsRGFFUmlNMXBzWTJscloweFRRa2xpTTA1dllWYzFka2xGTVd4WlVUMDlMbTF3TkE9PSZuYW1lPVdoZXJldmVyJTIweW91JTIwYXJlJTIwLSUyME9ORSUyME9LJTIwUk9DSyUyMChDb3ZlciklMjAtJTIwSG9zaGlubyUyME1lYSZkdXJhdGlvbj0yOTcsMzMxJmZyYW1lcmF0ZT0yNCZzdGFydGZyYW1lPTEmZW5kZnJhbWU9NzEzNiZ2aWRlb3Jlc29sdXRpb249NzIwJnBpZD0yMDMwJm92ZXJyaWRlaG9zdD10cnVl" />
      <add key="SampleVideo2" value="aHR0cDovL3Rvc2hpYmEvTWVkaWFQbGF5ZXIvKFModnpva3ZmbWJ1MmhnbzBxZWFrZjNzZmJ3KSkvUGxheWVyLmFzcHg/bmV3PXRydWUmbW9kZT11cGxvYWQmcGF0aD1odHRwOi8vdG9zaGliYS90ZXN0L1ZpZGVvL3Z6b2t2Zm1idTJoZ28wcWVha2Yzc2Zidy9WWHBLYzA1dFVsaE9WMmhLVWxWYVMxTlZUWGRhTVVaV1lrVktWRlpWV2t0VFZVNXZZbFp3V0ZKcVFrMWhWVkp5WkZWemVtSnRlRTFTUjNCdVRteFNjVm96U25WaGJXUjVTbFJLYldGdFpIaGpNMEV3VGtWT1VsWkVTbUZpVjBaWVZHNUNXbFl6Wkc1V1JtaFhaVzFHV0ZSWFpGZGlWM2h5VjJ4amJFMXRXbkZhTUhCR1pGZEtXVkZVUVQwdWJYQTAmbmFtZT1TMmw2ZFc1aElFRkpJQzBnUVVsQlNVRkpJQ2htWldGMExpRGt1SzNubExEamc2VGpncm5qZ3IlMmZqZ3FzcDQ0Q1FUMlptYVdOcFlXd2dUWFZ6YVdNZ1ZtbGtaVyUyZmpnSkV1YlhBMCZkdXJhdGlvbj0xOTMsNDY4JmZyYW1lcmF0ZT02MCZzdGFydGZyYW1lPTEmZW5kZnJhbWU9MTE2MDgmdmlkZW9yZXNvbHV0aW9uPTQ4MCZwaWQ9MjA2OCZvdmVycmlkZWhvc3Q9dHJ1ZQ==" />
      <add key="SampleVideo3" value="aHR0cDovL3Rvc2hpYmEvTWVkaWFQbGF5ZXIvKFMoaXU1eTB4cnBuM21pbGV3dXc1MzF6dXVqKSkvUGxheWVyLmFzcHg/bmV3PXRydWUmcGF0aD1odHRwOi8vdG9zaGliYS90ZXN0L1ZpZGVvL2l1NXkweHJwbjNtaWxld3V3NTMxenV1ai9WMWhXVDJGVFFrNVdhVUZ2VmpKc2RXUkhWbmxKUlVwc1kyNUtOVXRUUWpKYVdFcDZZVmM1ZFVsR1NteGFRVDA5TG0xd05BPT0mbmFtZT1ZdU5pJTIwTVYlMjAoV2ludGVyJTIwQmVycnkpJTIwdmVyc2lvbiUyMFJlZCZkdXJhdGlvbj0yMDAsNTUxJmZyYW1lcmF0ZT0yNCZzdGFydGZyYW1lPTEmZW5kZnJhbWU9NDgxMyZ2aWRlb3Jlc29sdXRpb249NzIwJnBpZD0yMDQwJm92ZXJyaWRlaG9zdD10cnVl" />
      <add key="SampleVideo4" value="aHR0cDovL3Rvc2hpYmEvTWVkaWFQbGF5ZXIvKFMoZWhucG94aWJsaW5ubHozaGZ0ZWEwcWhmKSkvUGxheWVyLmFzcHg/bmV3PXRydWUmcGF0aD1odHRwOi8vdG9zaGliYS90ZXN0L1ZpZGVvLzN0dnNodW95MXRxMHcyMWNsNG0yMWFwcy9WekJLYkZsWVVubGhWMDVzVEZaS2FHUXpUbVJKUms1ellqTmpaMVV6VW1oamJsRm5UVVJGWjFjd1NrVlZiV3gzU1VSRk5VMXFRalJOVkVFMFRVTkNTVkpXV2tSSlJWcE5VVlZPWkM1dGEzWT0mbmFtZT1bQmVhdHJpY2UtUmF3c10lMjBTbG93JTIwU3RhcnQlMjAwMSUyMFtCRFJpcCUyMDE5MjB4MTA4MCUyMEhFVkMlMjBGTEFDXSZkdXJhdGlvbj0xNDQyLDk0NSZmcmFtZXJhdGU9MjQmc3RhcnRmcmFtZT0xJmVuZGZyYW1lPTM0NjMxJnZpZGVvcmVzb2x1dGlvbj00ODAmcGlkPTIwMzcmb3ZlcnJpZGVob3N0PXRydWU=" />
      <add key="SampleVideo5" value="aHR0cDovL3Rvc2hpYmEvTWVkaWFQbGF5ZXIvKFMoaHl1cnk1anNyZ211cWdncmN0dGxudWZjKSkvUGxheWVyLmFzcHg/bmV3PXRydWUmbW9kZT11cGxvYWQmcGF0aD1odHRwOi8vdG9zaGliYS90ZXN0L1ZpZGVvL2h5dXJ5NWpzcmdtdXFnZ3JjdHRsbnVmYy9Ua1JTUkZWVVZURmxWMk13VGtWMFRFNUVVa2hqYWxFd1VqSnpNRTVGWkZGT1JGSkVWV3BWTVdKVWF6Qk9SV1JHVG14d01XTlVVVEJTTTFVd1RrVTVXVTVFVWxCalZGRXdWRE52TUU1RmN6Tk9SRkpNVGxSUk1GSXpXa3BVTWtZd1lXczVVRkZ0T0d4TmJVcFFVVzVDTVZRd1NqSktWRXBwVkRCS2RXVlZSakJUVlZwelRWWlNkR0V6Vm1sWFJVVjNMbTF3TkE9PSZuYW1lPTQ0Q1E1NXlnNDRLSzQ0R3I0NEdrNDRHUDQ0Q1I1NW05NDRHRTZadXE0NEd1NDRPWDQ0T3E0NE96NDRLNzQ0SzU0NEd2SU9hdGpPT0JvJTJiT0JwdU9CdiUyYk9CbnlBdElGbDFUbWt1YlhBMCZkdXJhdGlvbj0yNzAsNzIxJmZyYW1lcmF0ZT0zMCZzdGFydGZyYW1lPTEmZW5kZnJhbWU9ODEyMiZ2aWRlb3Jlc29sdXRpb249NzIwJnBpZD0yMDczJm92ZXJyaWRlaG9zdD10cnVl" />
    
      <!--Background images setting-->
      <add key="loadBackground" value="false" />
      <add key="backgroundImage0" value=""/>
      <add key="backgroundImage1" value="https://image.ibb.co/cJS3Hz/Honkai-Gakuen-5.jpg"/>
      <add key="backgroundImage2" value="https://image.ibb.co/mupcLp/Honkai-Gakuen-2.jpg"/>
      <add key="backgroundImage3" value="https://image.ibb.co/eOJrET/Honkai-Impact-3-40.jpg"/>
      <add key="backgroundImage4" value="https://image.ibb.co/itu7a0/Konachan-com-263436-animal-ears-azur-lane-bunny-ears-gun-headband-long-hair-navel-nya-rl-red-eyes-skirt-thighhighs-twintails-weapon-white-hair-zettai-ryouiki-1771x1200.jpg"/>
      <add key="backgroundImage5" value="https://i.ibb.co/4F9zGD8/Yuuki-Yuuna-wa-Yuusha-de-Aru-6.jpg"/>
      <add key="backgroundImage6" value="https://i.ibb.co/Gn74Pbz/920176.jpg"/>
      <add key="backgroundImage7" value="https://image.ibb.co/fRus7J/Windows3-1-1.jpg"/>
      
      <!--Default mode-->
      <add key="DefaultMode" value="File"/> <!--URL or File)-->

      <!--For Video processing (copied directly from WCFAIOProcessor)-->
      <add key="ConfigurationID" value="1"/>

      <!--<add key="VideoProcessorLocation" value="C:\Tools\VideoProcessor\VideoProcessing.exe"/>-->
      <add key="VideoProcessorLocation" value="C:\Tools\VideoProcessor\VideoProcessing.exe"/>
      <!--Location of video processing application-->
      <add key="AudioProcessorLocation" value="C:\Tools\AudioProcessor\AudioProcessing.exe"/>
      <!--Location of audio processing application (for not this can be empty)-->

      <add key="ProcessedVideoSaveLocation" value="E:\test\Video" />
      <!--Location of processed videos-->
      <add key="ProcessedAudioSaveLocation" value="E:\test\Audio" />
      <!--Location of processed audios-->

      <add key="NetworkProcessedVideoSaveLocation" value="http://toshiba/test/Video"/>
      <!--Location of processed videos (when accessed from network)-->
      <add key="NetworkProcessedAudioSaveLocation" value="http://toshiba/test/Audio"/>
      <!--Location of processed audios (when accessed from network)-->

      <add key="TemporaryVideoDirectory" value="E:\test\Temporary\Video"/>
      <!--Location of downloaded video (temporary)-->
      <add key="TemporaryAudioDirectory" value="E:\test\Temporary\Audio"/>
      <!--Location of downloaded audio (temporary)-->

      <add key="FFmpegLocation" value="C:\WebApplications\ffmpeg" />
      <!--Location of FFMPEG application (can be emty)-->
      <add key="FFProbeLocation" value="C:\WebApplications\ffmpeg" />
      <!--Location of FFProbe application (can be emty)-->

      <add key="DeleteTemporaryVideoWhenFinished" value="true" />
      <!--Information whether to delete the temporary downloaded data or not-->
      <add key="SaveInformationToDatabase" value="false" />
      <!--Information whether to save the information to database or not (Might be usefull for fast loading)-->

      <add key="VideoProcessingWindowType" value="Hidden"/>

      <!--Database configurations (This must be set if "SaveInformationToDatabase is set to true)-->
      <!--<add key="DatabaseConnectionString" value="Data Source=THESERVER\TOSHIBA;Initial Catalog=MediaPlayerDatabase;Integrated Security=True" />-->
      <add key="DatabaseConnectionString" value="Data Source=TOSHIBA;Initial Catalog=MediaPlayerDatabase;Integrated Security=True" />
      <!--Database connection string-->
      <add key="DatabaseName" value="MediaPlayerDatabase"/>
      <!--Database name (This must be set even when the database is already defined in the connection string to make sure it uses the right database)-->
      <add key="TableName" value="PlayerSettings"/>
      <!--Table name-->
    
      <!--Video default processing settings (Not used)-->
      <add key="VideoHeight" value="480"/>
      <add key="VideoFPS" value="24" />
      <add key="AudioProcessing" value="true" />
    </appSettings>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*"/>
        </customHeaders>
      </httpProtocol>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
