<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <sessionState cookieless="UseUri" mode="InProc" stateNetworkTimeout="240" />
      <httpRuntime maxRequestLength="2097151" executionTimeout="999999" />
    </system.web>
    

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://toshiba:8003/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="VideoProcessingService.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
    <appSettings>
      <add key="videoSaveLocation" value="E:\test\Temporary\Video" />
      <add key="videoSequenceLocation" value="http://toshiba/test/Video/" />
      <add key="useDatabase" value="true" />
      <add key="databaseConnectionString" value="" />
    </appSettings>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*"/>
        </customHeaders>
      </httpProtocol>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
