<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <sessionState cookieless="UseUri" mode="InProc" stateNetworkTimeout="240" />
      <httpRuntime maxRequestLength="2097151" executionTimeout="999999" />
    </system.web>
    

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://toshiba:8003/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="VideoProcessingService.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
    <appSettings>
      <add key="videoSaveLocation" value="E:\test\Temporary\Video" />
      <add key="videoSequenceLocation" value="http://toshiba/test/Video/" />
      <add key="useDatabase" value="true" />
      <add key="overrideHostAddress" value="false" />
      <add key="oldHostAddress" value="http://toshiba/" />
      <add key="newHostAddress" value="http://127.0.0.1/"/>
    
      <!--Background images setting-->
      <add key="backgroundImage1" value="http://toshiba/Sources/Images/Other/GunsGirlZ.jpg"/>
      <add key="backgroundImage2" value="http://toshiba/Sources/Images/Other/anime.jpg"/>
      <add key="backgroundImage3" value="http://toshiba/Sources/Images/Other/Vocaloid (4).png"/>
      <add key="backgroundImage4" value="http://toshiba/Sources/Images/Other/8589130408573-anime-run-from-war-wallpaper-hd.jpg"/>
      <add key="backgroundImage5" value="http://toshiba/Sources/Images/Other/YuYuYu.jpg"/>
      <add key="backgroundImage6" value="http://toshiba/Sources/Images/Other/Nekopara(11).png"/>
      <add key="backgroundImage7" value="http://toshiba/Sources/Images/Other/anime-girl-gunner-ak-12-winter-silverhair-anime-2529.jpg"/>

      <!--For Video processing (copied directly from WCFAIOProcessor)-->
      <add key="ConfigurationID" value="1"/>

      <!--<add key="VideoProcessorLocation" value="C:\Tools\VideoProcessor\VideoProcessing.exe"/>-->
      <add key="VideoProcessorLocation" value="C:\Tools\VideoProcessor\VideoProcessing.exe"/>
      <!--Location of video processing application-->
      <add key="AudioProcessorLocation" value="C:\Tools\AudioProcessor\AudioProcessing.exe"/>
      <!--Location of audio processing application (for not this can be empty)-->

      <add key="ProcessedVideoSaveLocation" value="E:\test\Video" />
      <!--Location of processed videos-->
      <add key="ProcessedAudioSaveLocation" value="E:\test\Audio" />
      <!--Location of processed audios-->

      <add key="NetworkProcessedVideoSaveLocation" value="http://toshiba/test/Video"/>
      <!--Location of processed videos (when accessed from network)-->
      <add key="NetworkProcessedAudioSaveLocation" value="http://toshiba/test/Audio"/>
      <!--Location of processed audios (when accessed from network)-->

      <add key="TemporaryVideoDirectory" value="E:\test\Temporary\Video"/>
      <!--Location of downloaded video (temporary)-->
      <add key="TemporaryAudioDirectory" value="E:\test\Temporary\Audio"/>
      <!--Location of downloaded audio (temporary)-->

      <add key="FFmpegLocation" value="C:\WebApplications\ffmpeg" />
      <!--Location of FFMPEG application (can be emty)-->
      <add key="FFProbeLocation" value="C:\WebApplications\ffmpeg" />
      <!--Location of FFProbe application (can be emty)-->

      <add key="DeleteTemporaryVideoWhenFinished" value="true" />
      <!--Information whether to delete the temporary downloaded data or not-->
      <add key="SaveInformationToDatabase" value="false" />
      <!--Information whether to save the information to database or not (Might be usefull for fast loading)-->

      <add key="VideoProcessingWindowType" value="Hidden"/>

      <!--Database configurations (This must be set if "SaveInformationToDatabase is set to true)-->
      <add key="DatabaseConnectionString" value="Data Source=TOSHIBA;Initial Catalog=MediaPlayerDatabase;Integrated Security=True" />
      <!--Database connection string-->
      <add key="DatabaseName" value="MediaPlayerDatabase"/>
      <!--Database name (This must be set even when the database is already defined in the connection string to make sure it uses the right database)-->
      <add key="TableName" value="PlayerSettings"/>
      <!--Table name-->
    </appSettings>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*"/>
        </customHeaders>
      </httpProtocol>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
